:root{
     --bright-orange: hsl(31, 77%, 52%);
     --dark-cyan: hsl(184, 100%, 22%);
     --very-dark-cyan: hsl(179, 100%, 13%);
     --transparent-white: hsla(0, 0%, 100%, 0.75);
     --Very-light-gray : hsl(0, 0%, 95%);
     --padding:50px 40px 50px 40px;
}
.body{
     background-color: var(--Very-light-gray);


}
.container{margin: 10% auto;
          width: 60vw;
          display: flex;
}

.sedan{background-color: var(--bright-orange);
     padding: var(--padding);
     border-radius: 10px 0px 0px 10px;
     }
.suv{background-color: var(--dark-cyan);
     padding: var(--padding);
     }

.luxury{background-color: var(--very-dark-cyan);
     padding: var(--padding);
     border-radius: 0px 10px 10px 0px;
     }

h1{  color: var(--Very-light-gray);
     font-family: "Big Shoulders Display" ;
     font-weight: 700;
     padding-bottom: 15px;
     

}

p{color: var(--transparent-white);
     font-family: "Lexend Deca" ;
     font-weight: 400;     
     line-height: 2;
     font-size: 15px;
    
}


.btn{border-radius: 50px;
     width: 65%;
     margin-top: 60px;
     height: 40px;
     background-color:white;
     font-weight: 700;
     border: 0;
     font-size: 20px;
}

.btn:hover{
     cursor: pointer;
     border: 2px solid white;
    .first ,.second, .third{color: white;}
}

.first, .second, .third{text-wrap: nowrap;}

.orange:hover{background-color: var(--bright-orange);
}

.cyan:hover{background-color: var(--dark-cyan);}

.dark-cyan:hover{background-color: var(--very-dark-cyan);}

.btn .first{ color: var(--bright-orange);

}
.btn .second{color:var(--dark-cyan)}

.btn .third{
     color: var(--very-dark-cyan);
}

@media(max-width:560px){
     .container{
          flex-direction: column;
          width: 85vw;
     }
     .sedan{
          border-radius: 10px 10px 0px 0px;
     }

     .luxury{
          border-radius: 0px 0px 10px 10px;
     }

     .btn{
          width: 70%;
     }
}

@media(min-width:561px) and (max-width:1200px){
     .container{width: 75vw;}

     .btn{
          width: 100%;
     }
}